body{
     margin:0 ;
    background-color: hsl(212, 45%, 89%);

}
.big-rectangle{
    background-color: white;
    width: 300px;
    height: 450px;
    border-radius: 10px;
    position: absolute;
    right: 40%;
    top: 20%;
    box-shadow:5px 5px 25px 3px silver;
}
.image{
    width: 90%;
    margin: 10px 0 10px 15px;
    border-radius: 10px;
}
.header{
    margin: 0;
    font-family: 'Outfit', sans-serif;
    padding-left:20px ;
    font-weight: 300;
    margin: 10px;
}
p{
    font-family: 'Outfit', sans-serif;
    color: hsl(220, 15%, 55%);
    width: 70%;
    margin: auto;
    text-align: center;
    font-size: 13px;
     
}